// font-size
$fs10:10px;
$fs12:12px;
$fs14:14px;
$fs15:15px;
$fs16:16px;
$fs17:17px;
$fs18:18px;
$fs20:20px;
$fs22:22px;
$fs24:24px;
$fs26:26px;
$fs28:28px;
$fs30:30px;
$fs33:33px;
$fs36:36px;
$fs42:42px;
$fs46:46px;
$fs50:50px;
$fs60:60px;
$fs80:80px;
$fs128: 128px;
// font-weight;
$fwLight: 300;
$fwNormal: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwBlack: 900;

// color
$white: #fff;
$whiteOpcity8: rgba(255,255,255,0.8);
$whiteOpcity5: rgba(255,255,255,0.5);
$black: #000;
$blackLight: #2A2A2A;
$orange: #e38357;
$orangeDark: #cd764c;
$orangeTitle: #bf7f5c;;
$orangeLight: #fcab81;
$blue: #028AF0;
$green: #34B358;
$pink: #ff75fe